{% load staticfiles %}
<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GIS</title>
    {% block head_css %}
        {% block head_css_site %}

        {% endblock head_css_site %}
    
        {% block head_css_section %}

        {% endblock head_css_section %}
        
        {% block head_css_page %}
                <link rel="stylesheet" href="https://openlayers.org/en/v3.20.1/css/ol.css" type="text/css">
        {% endblock head_css_page %}
    {% endblock head_css %}

    <!--<script src="https://openlayers.org/en/v3.20.1/build/ol.js" type="text/javascript"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    -->
    <script src="http://ec2-54-254-159-111.ap-southeast-1.compute.amazonaws.com:8000/static/mapviewer/js/ol3/ol.js" type="text/javascript"></script>
   <script src="http://ec2-54-254-159-111.ap-southeast-1.compute.amazonaws.com:8000/static/mapviewer/js/jquery-2.1.1.min.js" type="text/javascript"></script>

   <script src="http://ec2-54-254-159-111.ap-southeast-1.compute.amazonaws.com:8000/static/mapviewer/js/bootstrap.min.js" type="text/javascript"></script>
<!-- <script href="{% static 'mapviewer/js/ol3/ol.js' %}" type="text/javascript"> </script> 
    <script href="{% static 'mapviewer/js/jquery-2.1.1.min.js' %}" type="text/javascript"> </script> -->

    

    {% block head_js %}
        {% block head_js_site %}

        
        
        {% endblock head_js_site %}
    {% endblock head_js %}     

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="css/full.css" rel="stylesheet">-->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!--
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
    -->
    <article>
        <div id="mapcontainer" class="clsmapcontainer" >
            <header >
            
            </header>  


            <div id="map" class="mmap">
            
            </div>    
            <!--
            <button class="leftmenu" type="button">></button>
            <button class="rightmenu" type="button">></button>
            -->
            <span id="layersmenu" class="leftmenu">&#9776; </span>
            <span id="chartsmenu" class="rightmenu"> &#9776;</span>
            <!--<a href="#" class="rightmenu btn btn-danger" id="opener"><i class="glyphicon glyphicon-align-justify"></i></a> -->
            <span id="legendsmenu" class="topmenu" >&#9776; </span>
            <span id="datanavmenu" class="bottommenu" >&#9776; </span> 
            <!---->
           
        </div>
        {% block navigation_site %}

        {% endblock navigation_site %}

        {% block conten_js %}

        {% endblock conten_js %}
        




    </article>
    
    
    

    <!-- Put your page content here! -->

    <!-- jQuery -->
    <!--
    <script src="js/jquery.js"></script>
    -->
    <!-- Bootstrap Core JavaScript -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    -->

</body>

</html>
